<div fxLayout="column" fxFlex class="full-height">
  <mat-toolbar color="primary" class="mat-elevation-z8" style="z-index: 100!important;">
    <button type="button" mat-raised-button (click)="drawer.toggle();" color="accent">
      <mat-icon aria-label="toggle icon">menu</mat-icon>
    </button>
    <span style="margin-left: 30px;">Application Title</span>
  </mat-toolbar>

  <mat-sidenav-container class="full-height">
    <mat-sidenav #drawer class="sideNav" mode="push" opened="false">
      <mat-nav-list>
        <mat-list-item [routerLink]="['/App/Projects']">
          <h2 mat-line>Home</h2>
        </mat-list-item>
        <mat-list-item [routerLink]="['/App/SharedProjects']">
          <h2 mat-line>Shared Projects</h2>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="full-height full-width main-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>