<form [formGroup]="this.form">
  <p>
    <mat-form-field>
      <input matInput placeholder="New Item" formControlName="itemName" value="">
      <mat-hint>Unique, between 1 and 50 char</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <button type="button" mat-raised-button color="accent" style="margin-left: 30px;"
    [disabled]="!this.isFormValid" (click)="this.clickedAddItem()">New Item</button>
  </p>
</form>
<h1> {{ this.toDoList.Name }} - {{ this.toDoList.Owner }}</h1>
<ul>
  <li *ngFor="let i of this.toDoList.Items">
    {{ i.Name }} <input type="checkbox" name="i.id" value="i.id" [checked]="i.Complete">
  </li>
</ul>