<!-- <p>Projects</p>
<p *ngFor="let p of this.projects">
    <a routerLink="/App/Todo">{{ p.Name }} -- Owner({{ p.Owner }})</a>
</p> -->


<table mat-table [dataSource]="this.projects" class="mat-elevation-z8 full-width">
    <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef [style.flex]="'0 0 70%'"> Name </mat-header-cell>
        <mat-cell *matCellDef="let project" [style.flex]="'0 0 70%'"> 
            <a [routerLink]="['/App/Todo', project.Id]">{{ project.Name }} </a> 
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Owner">
        <mat-header-cell *matHeaderCellDef > Owner </mat-header-cell>
        <mat-cell *matCellDef="let project" > {{project.Owner}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="tableRow" *matRowDef="let row; columns: displayedColumns;"></mat-row>
</table>

<!-- <button mat-fab color="primary" class="fab">New</button> -->